@import "../shared.scss";

.mainArea {
    background-color: $grey;
    display: flex;
    flex-direction: column;

    .publicTable {
        display: flex;
        flex-direction: row;

        height: 60vh;
        width: 100%;

        padding: $large;

        .meldArea {
            width: 50vw;
            height: 100%;
            overflow: auto;
        }
        .stateArea {
            display: flex;
            flex-direction: column;

            width: 50vw;
            height: 100%;

            .gameInfo {
                display: flex;
                flex-direction: row;

                .playerList {
                    width: 100%;
                    height: 30vh;
                }
                .deckArea {
                    width: 100%;
                    height: 30vh;
                }
            }

            .infoArea {
                width: 50vh;
                height: 100%;
            }
        }
    }

    .playerTable {
        width: 100%;
        height: 40vh;

        padding: $large;
    }
}
