@import "../shared.scss";

.mainArea {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.tableArea {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.publicTable {
    height: 70%;
    padding: $large;
}

.playerTable {
    height: 30%;
    padding: $large;
}

.infoArea {
    width: 20%;
}
