@import "../shared.scss";

.mainArea {
    display: flex;
    flex-direction: column;

    .publicTable {
        display: flex;
        flex-direction: row;

        height: 66vh;
        width: 100%;

        padding: $large;

        .meldArea {
            width: 50vw;
            height: 100%;
        }
        .stateArea {
            display: flex;
            flex-direction: column;

            width: 25vw;
            height: 100%;

            .playerList {
                width: 100%;
                height: 33vh;
            }
            .deckArea {
                width: 100%;
                height: 33vh;
            }
        }
        .infoArea {
            width: 25vh;
            height: 100%;
        }
    }

    .playerTable {
        width: 100%;
        height: 34vh;

        padding: $large;
    }
}
