@import "../shared";

.meldsPublic {
    height: 60vh;
}

.playerRow {
    margin: $medium;
    background-color: $lightGrey;
    border-style: solid;
    border-color: $outlineColor;
}

.meldRowGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meldRow {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
    .buttons {
        display: flex;
        justify-content: center;
        flex-direction: row;

        > button {
            padding: $medium;
        }
    }
}
