@import "../shared";

.meldsPublic {
    height: 60vh;
    overflow: auto;
}

.playerRow {
    margin: $medium;
    background-color: $lightGrey;
    border-style: solid;
    border-color: $outlineColor;
}

.meldRow {
    display: flex;
    flex-direction: column;

    .buttons {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 100%;

        > button {
            padding: $medium;
        }
    }
}
