@import "../shared";

.playerArea {
    display: flex;
    flex-direction: row;
}

.cardContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.cardsInner {
    display: flex;
    justify-content: center;
}

.infoMessage {
    display: flex;
    flex-direction: column;

    >span {
        background-color: $darkGrey;
    }

    .message {
        color: $green;
    }

    .error {
        color: $red;
    }
}
