@import "../shared";

.greyHighlight {
    border-style: solid;
    border-color: $grey;
}

.greenHighlight {
    border-style: solid;
    border-color: $green;
}

.card {
    display: flex;
    flex-direction: row;
    padding: $medium;

    .text {
        padding-right: $large;
        width: 25%;
        font-size: $text-medium;
    }
}
