@import "../shared.scss";

.card.fan:nth-child(1) { --nth-child: 1 }
.card.fan:nth-child(2) { --nth-child: 2 }
.card.fan:nth-child(3) { --nth-child: 3 }
.card.fan:nth-child(4) { --nth-child: 4 }
.card.fan:nth-child(5) { --nth-child: 5 }
.card.fan:nth-child(6) { --nth-child: 6 }
.card.fan:nth-child(7) { --nth-child: 7 }
.card.fan:nth-child(8) { --nth-child: 8 }
.card.fan:nth-child(9) { --nth-child: 9 }
.card.fan:nth-child(10) { --nth-child: 10 }
.card.fan:nth-child(11) { --nth-child: 11 }
.card.fan:nth-child(12) { --nth-child: 12 }
.card.fan:nth-child(13) { --nth-child: 13 }
.card.fan:nth-child(14) { --nth-child: 14 }
.card.fan:nth-child(15) { --nth-child: 15 }
.card.fan:nth-child(16) { --nth-child: 16 }
.card.fan:nth-child(17) { --nth-child: 17 }
.card.fan:nth-child(18) { --nth-child: 18 }
.card.fan:nth-child(19) { --nth-child: 19 }
.card.fan:nth-child(20) { --nth-child: 20 }
.card.fan:nth-child(21) { --nth-child: 21 }
.card.fan:nth-child(22) { --nth-child: 22 }
.card.fan:nth-child(23) { --nth-child: 23 }
.card.fan:nth-child(24) { --nth-child: 24 }
.card.fan:nth-child(25) { --nth-child: 25 }
.card.fan:nth-child(26) { --nth-child: 26 }
.card.fan:nth-child(27) { --nth-child: 27 }
.card.fan:nth-child(28) { --nth-child: 28 }
.card.fan:nth-child(29) { --nth-child: 29 }
.card.fan:nth-child(30) { --nth-child: 30 }
.card.fan:nth-child(31) { --nth-child: 31 }
.card.fan:nth-child(32) { --nth-child: 32 }
.card.fan:nth-child(33) { --nth-child: 33 }
.card.fan:nth-child(34) { --nth-child: 34 }
.card.fan:nth-child(35) { --nth-child: 35 }
.card.fan:nth-child(36) { --nth-child: 36 }
.card.fan:nth-child(37) { --nth-child: 37 }
.card.fan:nth-child(38) { --nth-child: 38 }
.card.fan:nth-child(39) { --nth-child: 39 }
.card.fan:nth-child(40) { --nth-child: 40 }
.card.fan:nth-child(41) { --nth-child: 41 }
.card.fan:nth-child(42) { --nth-child: 42 }
.card.fan:nth-child(43) { --nth-child: 43 }
.card.fan:nth-child(44) { --nth-child: 44 }
.card.fan:nth-child(45) { --nth-child: 45 }
.card.fan:nth-child(46) { --nth-child: 46 }
.card.fan:nth-child(47) { --nth-child: 47 }
.card.fan:nth-child(48) { --nth-child: 48 }
.card.fan:nth-child(49) { --nth-child: 49 }
.card.fan:nth-child(50) { --nth-child: 50 }

.card.fan:first-child:nth-last-child(1) { --children: 1 }
.card.fan:first-child:nth-last-child(2), :first-child:nth-last-child(2) ~ * { --children: 2 }
.card.fan:first-child:nth-last-child(3), :first-child:nth-last-child(3) ~ * { --children: 3 }
.card.fan:first-child:nth-last-child(4), :first-child:nth-last-child(4) ~ * { --children: 4 }
.card.fan:first-child:nth-last-child(5), :first-child:nth-last-child(5) ~ * { --children: 5 }
.card.fan:first-child:nth-last-child(6), :first-child:nth-last-child(6) ~ * { --children: 6 }
.card.fan:first-child:nth-last-child(7), :first-child:nth-last-child(7) ~ * { --children: 7 }
.card.fan:first-child:nth-last-child(8), :first-child:nth-last-child(8) ~ * { --children: 8 }
.card.fan:first-child:nth-last-child(9), :first-child:nth-last-child(9) ~ * { --children: 9 }
.card.fan:first-child:nth-last-child(10), :first-child:nth-last-child(10) ~ * { --children: 10 }
.card.fan:first-child:nth-last-child(11), :first-child:nth-last-child(11) ~ * { --children: 11 }
.card.fan:first-child:nth-last-child(12), :first-child:nth-last-child(12) ~ * { --children: 12 }
.card.fan:first-child:nth-last-child(13), :first-child:nth-last-child(13) ~ * { --children: 13 }
.card.fan:first-child:nth-last-child(14), :first-child:nth-last-child(14) ~ * { --children: 14 }
.card.fan:first-child:nth-last-child(15), :first-child:nth-last-child(15) ~ * { --children: 15 }
.card.fan:first-child:nth-last-child(16), :first-child:nth-last-child(16) ~ * { --children: 16 }
.card.fan:first-child:nth-last-child(17), :first-child:nth-last-child(17) ~ * { --children: 17 }
.card.fan:first-child:nth-last-child(18), :first-child:nth-last-child(18) ~ * { --children: 18 }
.card.fan:first-child:nth-last-child(19), :first-child:nth-last-child(19) ~ * { --children: 19 }
.card.fan:first-child:nth-last-child(20), :first-child:nth-last-child(20) ~ * { --children: 20 }
.card.fan:first-child:nth-last-child(21), :first-child:nth-last-child(21) ~ * { --children: 21 }
.card.fan:first-child:nth-last-child(22), :first-child:nth-last-child(22) ~ * { --children: 22 }
.card.fan:first-child:nth-last-child(23), :first-child:nth-last-child(23) ~ * { --children: 23 }
.card.fan:first-child:nth-last-child(24), :first-child:nth-last-child(24) ~ * { --children: 24 }
.card.fan:first-child:nth-last-child(25), :first-child:nth-last-child(25) ~ * { --children: 25 }
.card.fan:first-child:nth-last-child(26), :first-child:nth-last-child(26) ~ * { --children: 26 }
.card.fan:first-child:nth-last-child(27), :first-child:nth-last-child(27) ~ * { --children: 27 }
.card.fan:first-child:nth-last-child(28), :first-child:nth-last-child(28) ~ * { --children: 28 }
.card.fan:first-child:nth-last-child(29), :first-child:nth-last-child(29) ~ * { --children: 29 }
.card.fan:first-child:nth-last-child(30), :first-child:nth-last-child(30) ~ * { --children: 30 }
.card.fan:first-child:nth-last-child(31), :first-child:nth-last-child(31) ~ * { --children: 31 }
.card.fan:first-child:nth-last-child(32), :first-child:nth-last-child(32) ~ * { --children: 32 }
.card.fan:first-child:nth-last-child(33), :first-child:nth-last-child(33) ~ * { --children: 33 }
.card.fan:first-child:nth-last-child(34), :first-child:nth-last-child(34) ~ * { --children: 34 }
.card.fan:first-child:nth-last-child(35), :first-child:nth-last-child(35) ~ * { --children: 35 }
.card.fan:first-child:nth-last-child(36), :first-child:nth-last-child(36) ~ * { --children: 36 }
.card.fan:first-child:nth-last-child(37), :first-child:nth-last-child(37) ~ * { --children: 37 }
.card.fan:first-child:nth-last-child(38), :first-child:nth-last-child(38) ~ * { --children: 38 }
.card.fan:first-child:nth-last-child(39), :first-child:nth-last-child(39) ~ * { --children: 39 }
.card.fan:first-child:nth-last-child(40), :first-child:nth-last-child(40) ~ * { --children: 40 }
.card.fan:first-child:nth-last-child(41), :first-child:nth-last-child(41) ~ * { --children: 41 }
.card.fan:first-child:nth-last-child(42), :first-child:nth-last-child(42) ~ * { --children: 42 }
.card.fan:first-child:nth-last-child(43), :first-child:nth-last-child(43) ~ * { --children: 43 }
.card.fan:first-child:nth-last-child(44), :first-child:nth-last-child(44) ~ * { --children: 44 }
.card.fan:first-child:nth-last-child(45), :first-child:nth-last-child(45) ~ * { --children: 45 }
.card.fan:first-child:nth-last-child(46), :first-child:nth-last-child(46) ~ * { --children: 46 }
.card.fan:first-child:nth-last-child(47), :first-child:nth-last-child(47) ~ * { --children: 47 }
.card.fan:first-child:nth-last-child(48), :first-child:nth-last-child(48) ~ * { --children: 48 }
.card.fan:first-child:nth-last-child(49), :first-child:nth-last-child(49) ~ * { --children: 49 }
.card.fan:first-child:nth-last-child(50), :first-child:nth-last-child(50) ~ * { --children: 50 }

//----------------------------------------------------------------------//

.fanBase {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card {
    --size: 150px;
    --delta: 0px;
    
    width: var(--size);
    height: calc(var(--size) * 1.6);
    border: 1px solid #0003;
    border-radius: 10px;
    background: #ddd;
    overflow: hidden;
    background-clip: content-box;
    color: $cardBlack;
    user-select: none;
    transition: transform 200ms ease, border 200ms ease;
    
    filter: drop-shadow(4px 4px 5px #0009);
    cursor: pointer;
    
    transform: translateY(var(--delta)) scale(var(--scale));
}

.card:not(.back)::after {
    content: '';
    border: 1px dashed #0003;
    position: absolute;
    inset: 0.5em;
    border-radius: 5px;
}

.card.fan {
    --dist: 600px;
    --offset-amount: 5deg;
    --offset: 0deg;
    --angle-amount: 5deg;
    --angle: calc(var(--angle-amount) * var(--children));
    --scale: 1;
    
    position: absolute;
    transform-origin: bottom;
    
    transform:
        translateY(var(--dist))
        rotate(calc(var(--angle) / -2 + (var(--angle) / (var(--children) - 1) * (var(--nth-child) - 1)) + var(--offset)))
        translateY(calc(var(--dist) * -1 + var(--delta)))
        scale(var(--scale));
}

.card.back {
    $color1: #9caea9;
    $color2: #788585;
    $color3: #38302e;
    background:
        linear-gradient(30deg, $color1 12%, transparent 12.5%, transparent 87%, $color1 87.5%, $color1),
        linear-gradient(150deg, $color1 12%, transparent 12.5%, transparent 87%, $color1 87.5%, $color1),
        linear-gradient(30deg, $color1 12%, transparent 12.5%, transparent 87%, $color1 87.5%, $color1),
        linear-gradient(150deg, $color1 12%, transparent 12.5%, transparent 87%, $color1 87.5%, $color1),
        linear-gradient(60deg, $color2 25%, transparent 25.5%, transparent 75%, $color2 75%, $color2),
        linear-gradient(60deg, $color2 25%, transparent 25.5%, transparent 75%, $color2 75%, $color2),
        $color3;
    --size1: calc(20 * var(--size) * 0.008);
    --size2: calc(35 * var(--size) * 0.008);
    background-size: calc(var(--size1) * 2) calc(var(--size2) * 2);
    background-position: 0 0, 0 0, var(--size1) var(--size2), var(--size1) var(--size2), 0 0, var(--size1) var(--size2);
}

.card.red div {
    color: $cardRed;
}

.card:hover {
    --scale: 1.05;
    --delta: calc(var(--size) * -0.35);
    border: 1px solid #fffd;
}

.card.fan:hover {
    --scale: 1.2;
    --delta: calc(var(--size) * -0.1);
}

.card.fan.selected,
.card.fan.selected:hover {
    --delta: calc(var(--size) * -0.3);
}

.card.follow {
    top: calc(var(--mouse-y) * 1px - var(--size) / 2 * 1.6);
    left: calc(var(--mouse-x) * 1px - var(--size) / 2);
    z-index: 10;
    transform: none;
}

.card.noMouse {
    pointer-events: none;
}

// card styling
.card div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 0px;
}

.card div:nth-child(1) {
    justify-content: left;
    font-size: calc(var(--size) * 0.2);
    top: calc(var(--size) * 0.18);
    left: calc(var(--size) * 0.10);
}

.card div:nth-child(2) {
    justify-content: right;
    font-size: calc(var(--size) * 0.2);
    bottom: calc(var(--size) * 0.21);
    right: calc(var(--size) * 0.10);
}

.card div:nth-child(3) {
    font-size: var(--size);
    top: 48%;
    left: 50%;
}

.card div:nth-child(4) {
    font-size: calc(var(--size) * 0.25);
    top: calc(var(--size) * 0.17);
    right: calc(var(--size) * 0.18);
}

.card div:nth-child(5) {
    font-size: calc(var(--size) * 0.25);
    bottom: calc(var(--size) * 0.20);
    left: calc(var(--size) * 0.18);
}

// extra hover effects
.card.fan:hover ~ .card {
    --offset: var(--offset-amount);
}

.fanBase:hover .card.fan:not(.card:hover, .card:hover ~ .card) {
    --offset: calc(var(--offset-amount) * -1);
}