@import "../shared";

.status {
    border-style: solid;
    background-color: $lightGrey;
    display: flex;
    border-color: $outlineColor;
    flex-direction: column;

    height: 100%;

    .list {
        margin-top: auto;
        padding-bottom: $medium;
    }

    .message {
        padding: $medium;
        font-size: large;
    }
}
