$tiny: 2px;
$small: 4px;
$medium: 8px;
$large: 16px;

$darkGrey: #252525;
$grey: #3f3f3f;
$lightGrey: #6d6d6d;
$white: #f3f0e7;
$green: #15d11e;
$red: #db6565;
$navyBlue: #2f49b9;

$outlineColor: #242424;

$cardBlack: #161616;
$cardRed: #bd2727;


$text-superLarge: 196px;
$text-xxlarge: 80px;
$text-xlarge: 32px;
$text-large: 20px;
$text-medium: 16px;
$text-small: 12px;
